### Importing Data and Necessary libraries

In [1]:
import pandas as pd
import sqlite3
import csv

### Importing csv files using Python

In [3]:
# Importing and converting cvs data files into dataframes  
df1 = pd.read_csv('HRData_Diversity.csv')
df2 = pd.read_csv('HRData_Employees.csv')
df3 = pd.read_csv('HRData_Manager.csv')
df4 = pd.read_csv('HRData_Positions.csv')

In [4]:
df5 = pd.read_csv('HRData_Positions.csv')

In [7]:
# Connecting to database 
conn = sqlite3.connect('hr_data_databasee.db')

In [8]:
# Adding dataframes to SQL database to use for analysis
df1.to_sql('HR_Diversity', conn, index=False,)
df2.to_sql('HR_Employees', conn, index=False)
df3.to_sql('HR_Manager', conn, index=False)
df4.to_sql('HR_Positions', conn, index=False)

29

In [9]:
# Load the SQL extension to execute SQL commands in this notebook cell
%load_ext sql

In [10]:
# Connect to the SQLite database named 'hr_database.db'
%sql sqlite:///hr_data_databasee.db

### Exploring the Data in our Database
- Understand the schema of our four tables
- Identify Primary and foreign keys in our tables

In [11]:
%%sql

-- Retrieve the names of tables in the SQLite database
SELECT name AS hr_database_tables
FROM sqlite_master
WHERE type = 'table';

 * sqlite:///hr_data_databasee.db
Done.

[('HR_Diversity',), ('HR_Employees',), ('HR_Manager',), ('HR_Positions',)]

In [12]:
%%sql

-- Show the schema of the table HR_Employees
PRAGMA table_info(HR_Employees);

 * sqlite:///hr_data_databasee.db
Done.

[(0, 'Employee_Name', 'TEXT', 0, None, 0),
 (1, 'EmpID', 'INTEGER', 0, None, 0),
 (2, 'DeptID', 'INTEGER', 0, None, 0),
 (3, 'Salary', 'INTEGER', 0, None, 0),
 (4, 'PositionID', 'INTEGER', 0, None, 0),
 (5, 'State', 'TEXT', 0, None, 0),
 (6, 'DOB', 'TEXT', 0, None, 0),
 (7, 'MaritalDesc', 'TEXT', 0, None, 0),
 (8, 'DateofHire', 'TEXT', 0, None, 0),
 (9, 'DateofTermination', 'TEXT', 0, None, 0),
 (10, 'ManagerID', 'REAL', 0, None, 0),
 (11, 'Department', 'TEXT', 0, None, 0),
 (12, 'RecruitmentSource', 'TEXT', 0, None, 0),
 (13, 'PerformanceScore', 'TEXT', 0, None, 0),
 (14, 'EngagementSurvey', 'REAL', 0, None, 0),
 (15, 'EmpSatisfaction', 'INTEGER', 0, None, 0),
 (16, 'SpecialProjectsCount', 'INTEGER', 0, None, 0),
 (17, 'Absences', 'INTEGER', 0, None, 0)]

In [13]:
%%sql

-- Show the schema of the table HR_Positions
PRAGMA table_info(HR_Positions);

 * sqlite:///hr_data_databasee.db
Done.

[(0, 'PositionID', 'INTEGER', 0, None, 0), (1, 'Position', 'TEXT', 0, None, 0)]

In [14]:
%%sql

-- Show the schema of the table
PRAGMA table_info(HR_Manager);

 * sqlite:///hr_data_databasee.db
Done.

[(0, 'EmpID', 'INTEGER', 0, None, 0),
 (1, 'ManagerName', 'TEXT', 0, None, 0),
 (2, 'ManagerID', 'REAL', 0, None, 0)]

In [15]:
%%sql

-- Show the schema of the table
PRAGMA table_info(HR_Diversity);

 * sqlite:///hr_data_databasee.db
Done.

[(0, 'EmpID', 'INTEGER', 0, None, 0),
 (1, 'Sex', 'TEXT', 0, None, 0),
 (2, 'FromDiversityJobFairID', 'TEXT', 0, None, 0),
 (3, 'HispanicLatino', 'TEXT', 0, None, 0),
 (4, 'RaceDesc', 'TEXT', 0, None, 0)]

### Data Cleaning - Create a new table named HR_Dataset by combining data from multiple tables

In [16]:
%%sql

-- Create a new table named HR_Dataset by combining data from multiple tables
CREATE TABLE HR_Dataset AS

SELECT *
FROM HR_Employees e
inner JOIN HR_Positions p ON e.positionID = p.positionID
inner JOIN HR_Manager m on e.empid = m.empid
inner JOIN HR_Diversity d on e.empid = d.empid;

 * sqlite:///hr_data_databasee.db
Done.

[]

In [17]:
%%sql 
--
Select * from HR_Dataset limit 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 19, 'Production Technician I', 10026, 'Michael Albert', 22.0, 10026, 'M ', 'No', 'No', 'White')]

### Ensuring new HR_Dataset has been added to database

In [18]:
%%sql

-- Retrieve the names of tables in the SQLite database
SELECT name AS hr_database_tables
FROM sqlite_master
WHERE type = 'table';

 * sqlite:///hr_data_databasee.db
Done.

[('HR_Diversity',),
 ('HR_Employees',),
 ('HR_Manager',),
 ('HR_Positions',),
 ('HR_Dataset',)]

### Data Cleaning - Dropping Duplicate Columns from HR_Dataset table
- Remove Redundant Columns from HR_Dataset Table that were added when joining the 4 tables in the database

In [19]:
%%sql 

-- Remove the column 'positionid:1' from the HR_Dataset table
ALTER TABLE HR_Dataset
DROP COLUMN 'positionid:1';

-- Remove the column 'empid:1' from the HR_Dataset table
ALTER TABLE HR_Dataset
DROP COLUMN 'empid:1';

-- Remove the column 'managerid:1' from the HR_Dataset table
ALTER TABLE HR_Dataset
DROP COLUMN 'managerid:1';

-- Remove the column 'empid:2' from the HR_Dataset table
ALTER TABLE HR_Dataset
DROP COLUMN 'empid:2';

 * sqlite:///hr_data_databasee.db
Done.
Done.
Done.
Done.

[]

In [20]:
%%sql 
-- Display the modified table
select * from hr_dataset limit 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White')]

### Data Cleaning - Changing Data Types

- Updating data type from text to date for DOB, DateofHire, and DateofTermination columns

In [21]:
%%sql

-- Add a new column 'date_DOB' to the table and update column to a date data type 
ALTER TABLE HR_Dataset ADD COLUMN date_DOB date;

UPDATE HR_Dataset
SET date_DOB = strftime('%Y-%m-%d', DOB);


-- Add a new column 'date_hired' to the table and update column to a date data type
ALTER TABLE HR_Dataset ADD COLUMN date_hired date;

UPDATE HR_Dataset
SET date_hired = strftime('%Y-%m-%d', dateofhire);


-- Add a new column 'date_term' to the table and update column to a date data type
ALTER TABLE HR_Dataset ADD COLUMN date_term date;

UPDATE HR_Dataset
SET date_term = strftime('%Y-%m-%d', dateoftermination);


-- Display the modified table with three added columns
SELECT * FROM HR_Dataset

LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.
311 rows affected.
Done.
311 rows affected.
Done.
311 rows affected.
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', None)]

### Data Manipulation - Replacing Null values from date of termination
- Replacing all Null values from the date_term column as current date to create a column for display employee tenure

In [22]:
%%sql

UPDATE hr_dataset

SET date_term = CURRENT_DATE
WHERE date_term IS NULL;

 * sqlite:///hr_data_databasee.db
207 rows affected.

[]

In [23]:
%%sql 

-- Display the modified table
SELECT * FROM HR_Dataset LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', '2023-09-21')]

### Data Manipulation - Adding Employee Tenure Column

In [24]:
%%sql 

ALTER TABLE HR_Dataset
ADD COLUMN Tenure INTEGER;

UPDATE HR_Dataset
SET Tenure = CAST((julianday(date_term) - julianday(date_hired)) / 365.25 AS INTEGER);

 * sqlite:///hr_data_databasee.db
Done.
311 rows affected.

[]

In [25]:
%%sql 

-- Display the modified table
SELECT * FROM HR_Dataset LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', '2023-09-21', 12)]

### Data Manipulation
- Added a new column 'Married_id' to the HR_Employees table 
- Update 'Married_id' values based on 'MaritalDesc' values

In [26]:
%%sql

ALTER TABLE HR_Dataset
ADD COLUMN Married_id INTEGER;

UPDATE HR_Dataset
SET Married_id = CASE
    WHEN MaritalDesc = 'Single' THEN 1
    WHEN MaritalDesc = 'Widowed' THEN 1
    WHEN MaritalDesc = 'Divorced' THEN 1
    WHEN MaritalDesc = 'Married' THEN 0
    ELSE NULL
END;

 * sqlite:///hr_data_databasee.db
Done.
311 rows affected.

[]

In [27]:
%%sql 

-- Display the modified table
SELECT * FROM HR_Dataset LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', '2023-09-21', 12, 1)]

### Data Manipulation
- Added a new column 'PerfScore_ID' to the HR_Employees table 
- Update 'PerfScore_ID' values based on 'PerformanceScore' values

In [28]:
%%sql

ALTER TABLE HR_Dataset
ADD COLUMN PerfScore_ID INTEGER;

UPDATE HR_Dataset
SET PerfScore_ID = CASE
    WHEN PerformanceScore = 'Exceeds' THEN 4
    WHEN PerformanceScore = 'Fully Meets' THEN 3
    WHEN PerformanceScore = 'Needs Improvement' THEN 2
    WHEN PerformanceScore = 'PIP' THEN 1
    ELSE NULL
END;

 * sqlite:///hr_data_databasee.db
Done.
311 rows affected.

[]

In [29]:
%%sql 

-- Display the modified table
SELECT * FROM HR_Dataset LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', '2023-09-21', 12, 1, 4)]

### Data Manipulation
- Added a new column 'DiversityJobFairScore' to the HR_Dataset table 
- Updated score values as 1 if employees were hired in a Diversity Job Fair and 0 if not

In [30]:
%%sql 

ALTER TABLE HR_Dataset
ADD COLUMN DiversityJobFairScore INTEGER;

UPDATE HR_Dataset
SET DiversityJobFairScore = CASE
    WHEN FromDiversityJobFairID = 'Yes' THEN 1
    ELSE 0
END;

 * sqlite:///hr_data_databasee.db
Done.
311 rows affected.

[]

In [31]:
%%sql 

-- Display the modified table
SELECT * FROM HR_Dataset LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', '2023-09-21', 12, 1, 4, 0)]

### Data Manipulation
- Added a new column 'Date_Term' to the HR_Dataset table 
- Update values based on 'dateoftermination' column, 1 if employee had a termination date and 0 if date was Null

In [32]:
%%sql 

UPDATE HR_Dataset
SET date_term = CASE
    WHEN dateoftermination IS NULL THEN 0 
    ELSE 1
END;

 * sqlite:///hr_data_databasee.db
311 rows affected.

[]

In [33]:
%%sql 

-- Display the modified table
SELECT * FROM HR_Dataset LIMIT 1;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', 0, 12, 1, 4, 0)]

### Export clean HR_Dataset table as a CVS file

In [34]:
# Query the hr_dataset table using the %sql magic command
result = %sql SELECT * FROM hr_dataset

# Convert the result to a DataFrame
df = result.DataFrame()

# Specify the CSV file path
csv_file_path = 'hr_dataset.csv'

# Export the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

 * sqlite:///hr_data_databasee.db
Done.

In [35]:
%%sql

--CREATE TABLE HR_Dataset AS

SELECT *
FROM hr_dataset;

 * sqlite:///hr_data_databasee.db
Done.

[('Adinolfi, Wilson  K', 10026, 5, 62506, 19, 'MA', '1983-07-10', 'Single', '2011-07-05', None, 22.0, 'Production       ', 'LinkedIn', 'Exceeds', 4.6, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1983-07-10', '2011-07-05', 0, 12, 1, 4, 0),
 ('Ait Sidi, Karthikeyan   ', 10084, 3, 104437, 27, 'MA', '1975-05-05', 'Married', '2015-03-30', '2016-06-16', 4.0, 'IT/IS', 'Indeed', 'Fully Meets', 4.96, 3, 6, 17, 'Sr. DBA', 'Simon Roup', 'M ', 'No', 'No', 'White', '1975-05-05', '2015-03-30', 1, 1, 0, 3, 0),
 ('Akinkuolie, Sarah', 10196, 5, 64955, 20, 'MA', '1988-09-19', 'Married', '2011-07-05', '2012-09-24', 20.0, 'Production       ', 'LinkedIn', 'Fully Meets', 3.02, 3, 0, 3, 'Production Technician II', 'Kissy Sullivan', 'F', 'No', 'No', 'White', '1988-09-19', '2011-07-05', 1, 1, 0, 3, 0),
 ('Alagbe,Trina', 10088, 5, 64991, 19, 'MA', '1988-09-27', 'Married', '2008-01-07', None, 16.0, 'Production       ', 'Indeed', 'Fully Meets', 4.84, 5, 0, 15, 'Production Technician I', 'Elijiah Gray', 'F', 'No', 'No', 'White', '1988-09-27', '2008-01-07', 0, 15, 0, 3, 0),
 ('Anderson, Carol ', 10069, 5, 50825, 19, 'MA', '1989-09-08', 'Divorced', '2011-07-11', '2016-09-06', 39.0, 'Production       ', 'Google Search', 'Fully Meets', 5.0, 4, 0, 2, 'Production Technician I', 'Webster Butler', 'F', 'No', 'No', 'White', '1989-09-08', '2011-07-11', 1, 5, 1, 3, 0),
 ('Anderson, Linda  ', 10002, 5, 57568, 19, 'MA', '1977-05-22', 'Single', '2012-01-09', None, 11.0, 'Production       ', 'LinkedIn', 'Exceeds', 5.0, 5, 0, 15, 'Production Technician I', 'Amy Dunn', 'F', 'No', 'No', 'White', '1977-05-22', '2012-01-09', 0, 11, 1, 4, 0),
 ('Andreola, Colby', 10194, 4, 95660, 24, 'MA', '1979-05-24', 'Single', '2014-11-10', None, 10.0, 'Software Engineering', 'LinkedIn', 'Fully Meets', 3.04, 3, 4, 19, 'Software Engineer', 'Alex Sweetwater', 'F', 'No', 'No', 'White', '1979-05-24', '2014-11-10', 0, 8, 1, 3, 0),
 ('Athwal, Sam', 10062, 5, 59365, 19, 'MA', '1983-02-18', 'Widowed', '2013-09-30', None, 19.0, 'Production       ', 'Employee Referral', 'Fully Meets', 5.0, 4, 0, 19, 'Production Technician I', 'Ketsia Liebig', 'M ', 'No', 'No', 'White', '1983-02-18', '2013-09-30', 0, 9, 1, 3, 0),
 ('Bachiochi, Linda', 10114, 5, 47837, 19, 'MA', '1970-02-11', 'Single', '2009-07-06', None, 12.0, 'Production       ', 'Diversity Job Fair', 'Fully Meets', 4.46, 3, 0, 4, 'Production Technician I', 'Brannon Miller', 'F', 'Yes', 'No', 'Black or African American', '1970-02-11', '2009-07-06', 0, 14, 1, 3, 1),
 ('Bacong, Alejandro ', 10250, 3, 50178, 14, 'MA', '1988-01-07', 'Divorced', '2015-01-05', None, 7.0, 'IT/IS', 'Indeed', 'Fully Meets', 5.0, 5, 6, 16, 'IT Support', 'Peter Monroe', 'M ', 'No', 'No', 'White', '1988-01-07', '2015-01-05', 0, 8, 1, 3, 0),
 ('Baczenski, Rachael  ', 10252, 5, 54670, 19, 'MA', '1974-01-12', 'Married', '2011-01-10', '2017-01-12', 14.0, 'Production       ', 'Diversity Job Fair', 'Fully Meets', 4.2, 4, 0, 12, 'Production Technician I', 'David Stanley', 'F', 'Yes', 'Yes', 'Black or African American', '1974-01-12', '2011-01-10', 1, 6, 0, 3, 1),
 ('Barbara, Thomas', 10242, 5, 47211, 19, 'MA', '1974-02-21', 'Married', '2012-04-02', '2016-09-19', 20.0, 'Production       ', 'Diversity Job Fair', 'Fully Meets', 4.2, 3, 0, 15, 'Production Technician I', 'Kissy Sullivan', 'M ', 'Yes', 'Yes', 'Black or African American', '1974-02-21', '2012-04-02', 1, 4, 0, 3, 1),
 ('Barbossa, Hector', 10012, 3, 92328, 9, 'TX', '1988-07-04', 'Divorced', '2014-11-10', None, 4.0, 'IT/IS', 'Diversity Job Fair', 'Exceeds', 4.28, 4, 5, 9, 'Data Analyst', 'Simon Roup', 'M ', 'Yes', 'No', 'Black or African American', '1988-07-04', '2014-11-10', 0, 8, 1, 4, 1),
 ('Barone, Francesco  A', 10265, 5, 58709, 19, 'MA', '1983-07-20', 'Single', '2012-02-20', None, 18.0, 'Production       ', 'Google Search', 'Fully Meets', 4.6, 4, 0, 7, 'Production Technician I', 'Kelley Spirea', 'M ', 'No', 'No', 'Two or more races', '1983-07-20', '2012-02-20', 0, 11, 1, 3, 0),
 ('Barton, Nader', 10066, 5, 52505, 19, 'MA', '1977-07-15', 'Divorced', '2012-09-24', '2017-04-06', 22.0, 'Production       ', 'On-line Web application', 'Fully Meets', 5.0, 5, 0, 1, 'Production Technician I', 'Michael Albert', 'M ', 'No', 'No', 'White', '1977-07-15', '2012-09-24', 1, 4, 1, 3, 0),
 ('Bates, Norman', 10061, 5, 57834, 19, 'MA', '1981-10-18', 'Single', '2011-02-21', '2017-08-04', 18.0, 'Production       ', 'Google Search', 'Fully Meets', 5.0, 4, 0, 20, 'Production Technician I', 'Kelley Spirea', 'M ', 'No', 'No', 'White', '1981-10-18', '2011-02-21', 1, 6, 1, 3, 0),
 ('Beak, Kimberly  ', 10023, 5, 70131, 20, 'MA', '1966-04-17', 'Married', '2016-07-21', None, 18.0, 'Production       ', 'Employee Referral', 'Exceeds', 4.4, 3, 0, 16, 'Production Technician II', 'Kelley Spirea', 'F', 'No', 'No', 'White', '1966-04-17', '2016-07-21', 0, 7, 0, 4, 0),
 ('Beatrice, Courtney ', 10055, 5, 59026, 19, 'MA', '1970-10-27', 'Single', '2011-04-04', None, 16.0, 'Production       ', 'Google Search', 'Fully Meets', 5.0, 5, 0, 12, 'Production Technician I', 'Elijiah Gray', 'F', 'No', 'No', 'White', '1970-10-27', '2011-04-04', 0, 12, 1, 3, 0),
 ('Becker, Renee', 10245, 3, 110000, 8, 'MA', '1986-04-04', 'Single', '2014-07-07', '2015-09-12', 4.0, 'IT/IS', 'Google Search', 'Fully Meets', 4.5, 4, 5, 8, 'Database Administrator', 'Simon Roup', 'F', 'No', 'Yes', 'White', '1986-04-04', '2014-07-07', 1, 1, 1, 3, 0),
 ('Becker, Scott', 10277, 5, 53250, 19, 'MA', '1979-04-06', 'Single', '2013-07-08', None, None, 'Production       ', 'LinkedIn', 'Fully Meets', 4.2, 4, 0, 13, 'Production Technician I', 'Webster Butler', 'M ', 'No', 'No', 'Asian', '1979-04-06', '2013-07-08', 0, 10, 1, 3, 0),
 ('Bernstein, Sean', 10046, 5, 51044, 19, 'MA', '1970-12-22', 'Single', '2012-04-02', None, 11.0, 'Production       ', 'Google Search', 'Fully Meets', 5.0, 3, 0, 13, 'Production Technician I', 'Amy Dunn', 'M ', 'No', 'Yes', 'White', '1970-12-22', '2012-04-02', 0, 11, 1, 3, 0),
 ('Biden, Lowan  M', 10226, 5, 64919, 19, 'MA', '1958-12-27', 'Divorced', '2013-08-19', None, 19.0, 'Production       ', 'Indeed', 'Fully Meets', 4.2, 3, 0, 2, 'Production Technician I', 'Ketsia Liebig', 'F', 'No', 'No', 'Asian', '1958-12-27', '2013-08-19', 0, 10, 1, 3, 0),
 ('Billis, Helen', 10003, 5, 62910, 19, 'MA', '1989-09-01', 'Married', '2014-07-07', None, 12.0, 'Production       ', 'Indeed', 'Exceeds', 5.0, 3, 0, 19, 'Production Technician I', 'Brannon Miller', 'F', 'No', 'No', 'White', '1989-09-01', '2014-07-07', 0, 9, 0, 4, 0),
 ('Blount, Dianna', 10294, 5, 66441, 20, 'MA', '1990-09-21', 'Single', '2011-04-04', None, 22.0, 'Production       ', 'CareerBuilder', 'Needs Improvement', 2.0, 3, 0, 3, 'Production Technician II', 'Michael Albert', 'F', 'No', 'No', 'White', '1990-09-21', '2011-04-04', 0, 12, 1, 2, 0),
 ('Bondwell, Betsy', 10267, 5, 57815, 20, 'MA', '1967-01-16', 'Single', '2011-01-10', '2014-04-04', 16.0, 'Production       ', 'Google Search', 'Fully Meets', 4.8, 5, 0, 5, 'Production Technician II', 'Elijiah Gray', 'F', 'No', 'No', 'White', '1967-01-16', '2011-01-10', 1, 3, 1, 3, 0),
 ('Booth, Frank', 10199, 3, 103613, 30, 'CT', '1964-07-30', 'Single', '2014-02-17', '2016-02-19', 4.0, 'IT/IS', 'LinkedIn', 'Fully Meets', 3.5, 5, 7, 2, 'Enterprise Architect', 'Simon Roup', 'M ', 'No', 'No', 'Black or African American', '1964-07-30', '2014-02-17', 1, 2, 1, 3, 0),
 ('Boutwell, Bonalyn', 10081, 1, 106367, 26, 'MA', '1987-04-04', 'Married', '2015-02-16', None, 3.0, 'Admin Offices', 'Diversity Job Fair', 'Fully Meets', 5.0, 4, 3, 4, 'Sr. Accountant', 'Brandon R. LeBlanc', 'F', 'Yes', 'No', 'Black or African American', '1987-04-04', '2015-02-16', 0, 8, 0, 3, 1),
 ('Bozzi, Charles', 10175, 5, 74312, 18, 'MA', '1970-03-10', 'Single', '2013-09-30', '2014-08-07', 2.0, 'Production       ', 'Indeed', 'Fully Meets', 3.39, 3, 0, 14, 'Production Manager', 'Janet King', 'M ', 'No', 'No', 'Asian', '1970-03-10', '2013-09-30', 1, 0, 1, 3, 0),
 ('Brill, Donna', 10177, 5, 53492, 19, 'MA', '1990-08-24', 'Married', '2012-04-02', '2013-06-15', 14.0, 'Production       ', 'Google Search', 'Fully Meets', 3.35, 4, 0, 6, 'Production Technician I', 'David Stanley', 'F', 'No', 'No', 'White', '1990-08-24', '2012-04-02', 1, 1, 0, 3, 0),
 ('Brown, Mia', 10238, 1, 63000, 1, 'MA', '1987-11-24', 'Married', '2008-10-27', None, 1.0, 'Admin Offices', 'Diversity Job Fair', 'Fully Meets', 4.5, 2, 6, 14, 'Accountant I', 'Brandon R. LeBlanc', 'F', 'Yes', 'No', 'Black or African American', '1987-11-24', '2008-10-27', 0, 14, 0, 3, 1),
 ('Buccheri, Joseph  ', 10184, 5, 65288, 20, 'MA', '1983-07-28', 'Single', '2014-09-29', None, None, 'Production       ', 'Google Search', 'Fully Meets', 3.19, 3, 0, 9, 'Production Technician II', 'Webster Butler', 'M ', 'No', 'No', 'White', '1983-07-28', '2014-09-29', 0, 8, 1, 3, 0),
 ('Bugali, Josephine ', 10203, 5, 64375, 19, 'MA', '1969-10-30', 'Separated', '2013-11-11', None, 20.0, 'Production       ', 'Diversity Job Fair', 'Fully Meets', 3.5, 5, 0, 17, 'Production Technician I', 'Kissy Sullivan', 'F', 'Yes', 'No', 'Black or African American', '1969-10-30', '2013-11-11', 0, 9, None, 3, 1),
 ('Bunbury, Jessica', 10188, 6, 74326, 3, 'VA', '1964-06-01', 'Married', '2011-08-15', '2014-08-02', 17.0, 'Sales', 'Google Search', 'Fully Meets', 3.14, 5, 0, 19, 'Area Sales Manager', 'John Smith', 'F', 'No', 'No', 'Black or African American', '1964-06-01', '2011-08-15', 1, 2, 0, 3, 0),
 ('Burke, Joelle', 10107, 5, 63763, 20, 'MA', '1980-03-02', 'Single', '2012-03-05', None, 11.0, 'Production       ', 'Employee Referral', 'Fully Meets', 4.51, 4, 0, 3, 'Production Technician II', 'Amy Dunn', 'F', 'No', 'No', 'Black or African American', '1980-03-02', '2012-03-05', 0, 11, 1, 3, 0),
 ('Burkett, Benjamin ', 10181, 5, 62162, 20, 'MA', '1977-08-19', 'Married', '2011-04-04', None, 19.0, 'Production       ', 'Indeed', 'Fully Meets', 3.25, 5, 0, 15, 'Production Technician II', 'Ketsia Liebig', 'M ', 'No', 'No', 'White', '1977-08-19', '2011-04-04', 0, 12, 0, 3, 0),
 ('Cady, Max ', 10150, 4, 77692, 25, 'MA', '1966-11-22', 'Single', '2011-08-15', None, 5.0, 'Software Engineering', 'Google Search', 'Fully Meets', 3.84, 3, 5, 4, 'Software Engineering Manager', 'Jennifer Zamora', 'M ', 'No', 'No', 'White', '1966-11-22', '2011-08-15', 0, 12, 1, 3, 0),
 ('Candie, Calvin', 10001, 5, 72640, 18, 'MA', '1983-08-09', 'Single', '2016-01-28', None, 2.0, 'Production       ', 'Indeed', 'Exceeds', 5.0, 3, 0, 14, 'Production Manager', 'Janet King', 'M ', 'No', 'No', 'White', '1983-08-09', '2016-01-28', 0, 7, 1, 4, 0),
 ('Carabbio, Judith', 10085, 4, 93396, 24, 'MA', '1987-04-05', 'Single', '2013-11-11', None, 10.0, 'Software Engineering', 'Indeed', 'Fully Meets', 4.96, 4, 6, 3, 'Software Engineer', 'Alex Sweetwater', 'F', 'No', 'No', 'White', '1987-04-05', '2013-11-11', 0, 9, 1, 3, 0),
 ('Carey, Michael  ', 10115, 5, 52846, 19, 'MA', '1983-02-02', 'Single', '2014-03-31', None, 18.0, 'Production       ', 'LinkedIn', 'Fully Meets', 4.43, 3, 0, 14, 'Production Technician I', 'Kelley Spirea', 'M ', 'No', 'No', 'Black or African American', '1983-02-02', '2014-03-31', 0, 9, 1, 3, 0),
 ('Carr, Claudia  N', 10082, 3, 100031, 27, 'MA', '1986-06-06', 'Single', '2016-06-30', None, 4.0, 'IT/IS', 'LinkedIn', 'Fully Meets', 5.0, 5, 6, 7, 'Sr. DBA', 'Simon Roup', 'F', 'No', 'No', 'Black or African American', '1986-06-06', '2016-06-30', 0, 7, 1, 3, 0),
 ('Carter, Michelle ', 10040, 6, 71860, 3, 'VT', '1963-05-15', 'Single', '2014-08-18', None, 17.0, 'Sales', 'Indeed', 'Fully Meets', 5.0, 5, 0, 7, 'Area Sales Manager', 'John Smith', 'F', 'No', 'No', 'White', '1963-05-15', '2014-08-18', 0, 9, 1, 3, 0),
 ('Chace, Beatrice ', 10067, 5, 61656, 19, 'MA', '1951-01-02', 'Single', '2014-09-29', None, 22.0, 'Production       ', 'Google Search', 'Fully Meets', 5.0, 4, 0, 11, 'Production Technician I', 'Michael Albert', 'F', 'No', 'No', 'White', '1951-01-02', '2014-09-29', 0, 8, 1, 3, 0),
 ('Champaigne, Brian', 10108, 3, 110929, 5, 'MA', '1972-02-09', 'Married', '2016-09-06', None, 5.0, 'IT/IS', 'Indeed', 'Fully Meets', 4.5, 5, 7, 8, 'BI Director', 'Jennifer Zamora', 'M ', 'No', 'No', 'White', '1972-02-09', '2016-09-06', 0, 7, 0, 3, 0),
 ('Chan, Lin', 10210, 5, 54237, 19, 'MA', '1979-02-12', 'Single', '2014-05-12', None, 16.0, 'Production       ', 'Indeed', 'Fully Meets', 3.3, 4, 0, 11, 'Production Technician I', 'Elijiah Gray', 'F', 'No', 'No', 'White', '1979-02-12', '2014-05-12', 0, 9, 1, 3, 0),
 ('Chang, Donovan  E', 10154, 5, 60380, 19, 'MA', '1983-08-24', 'Single', '2013-07-08', None, None, 'Production       ', 'LinkedIn', 'Fully Meets', 3.8, 5, 0, 4, 'Production Technician I', 'Webster Butler', 'M ', 'No', 'No', 'White', '1983-08-24', '2013-07-08', 0, 10, 1, 3, 0),
 ('Chigurh, Anton', 10200, 6, 66808, 3, 'TX', '1970-06-11', 'Single', '2012-05-14', None, 21.0, 'Sales', 'Employee Referral', 'Fully Meets', 3.0, 5, 0, 17, 'Area Sales Manager', 'Lynn Daneault', 'M ', 'No', 'No', 'Black or African American', '1970-06-11', '2012-05-14', 0, 11, 1, 3, 0),
 ('Chivukula, Enola', 10240, 5, 64786, 19, 'MA', '1983-08-27', 'Single', '2011-06-27', '2015-11-15', 11.0, 'Production       ', 'Indeed', 'Fully Meets', 4.3, 4, 0, 3, 'Production Technician I', 'Amy Dunn', 'F', 'No', 'No', 'White', '1983-08-27', '2011-06-27', 1, 4, 1, 3, 0),
 ('Cierpiszewski, Caroline  ', 10168, 5, 64816, 19, 'MA', '1988-05-31', 'Single', '2011-10-03', None, 19.0, 'Production       ', 'Indeed', 'Fully Meets', 3.58, 5, 0, 3, 'Production Technician I', 'Ketsia Liebig', 'F', 'No', 'No', 'Black or African American', '1988-05-31', '2011-10-03', 0, 11, 1, 3, 0),
 ('Clayton, Rick', 10220, 3, 68678, 14, 'MA', '1985-09-05', 'Single', '2012-09-05', None, 6.0, 'IT/IS', 'Indeed', 'Fully Meets', 4.7, 3, 6, 2, 'IT Support', 'Eric Dougall', 'M ', 'No', 'No', 'White', '1985-09-05', '2012-09-05', 0, 11, 1, 3, 0),
 ('Cloninger, Jennifer', 10275, 5, 64066, 20, 'MA', '1981-08-31', 'Married', '2011-05-16', '2013-01-07', 12.0, 'Production       ', 'Google Search', 'Fully Meets', 4.2, 5, 0, 9, 'Production Technician II', 'Brannon Miller', 'F', 'No', 'No', 'White', '1981-08-31', '2011-05-16', 1, 1, 0, 3, 0),
 ('Close, Phil', 10269, 5, 59369, 20, 'MA', '1978-11-25', 'Married', '2010-08-30', '2011-09-26', 14.0, 'Production       ', 'Indeed', 'Fully Meets', 4.2, 4, 0, 6, 'Production Technician II', 'David Stanley', 'M ', 'No', 'No', 'White', '1978-11-25', '2010-08-30', 1, 1, 0, 3, 0),
 ('Clukey, Elijian', 10029, 5, 50373, 19, 'MA', '1980-08-26', 'Married', '2016-07-06', None, 12.0, 'Production       ', 'Employee Referral', 'Exceeds', 4.1, 4, 0, 5, 'Production Technician I', 'Brannon Miller', 'M ', 'No', 'No', 'White', '1980-08-26', '2016-07-06', 0, 7, 0, 4, 0),
 ('Cockel, James', 10261, 5, 63108, 19, 'MA', '1977-09-08', 'Single', '2013-07-08', None, 14.0, 'Production       ', 'Employee Referral', 'Fully Meets', 4.4, 5, 0, 3, 'Production Technician I', 'David Stanley', 'M ', 'No', 'No', 'White', '1977-09-08', '2013-07-08', 0, 10, 1, 3, 0),
 ('Cole, Spencer', 10292, 5, 59144, 19, 'MA', '1979-08-12', 'Single', '2011-07-11', '2016-09-23', 20.0, 'Production       ', 'LinkedIn', 'Needs Improvement', 2.0, 3, 0, 16, 'Production Technician I', 'Kissy Sullivan', 'M ', 'No', 'No', 'Black or African American', '1979-08-12', '2011-07-11', 1, 5, 1, 2, 0),
 ('Corleone, Michael', 10282, 5, 68051, 18, 'MA', '1975-12-17', 'Divorced', '2010-07-20', None, 2.0, 'Production       ', 'CareerBuilder', 'Needs Improvement', 4.13, 2, 0, 3, 'Production Manager', 'Janet King', 'M ', 'No', 'No', 'White', '1975-12-17', '2010-07-20', 0, 13, 1, 2, 0),
 ('Corleone, Vito', 10019, 5, 170500, 10, 'MA', '1983-03-19', 'Single', '2009-01-05', None, 2.0, 'Production       ', 'Indeed', 'Exceeds', 3.7, 5, 0, 15, 'Director of Operations', 'Janet King', 'M ', 'No', 'No', 'Black or African American', '1983-03-19', '2009-01-05', 0, 14, 1, 4, 0),
 ('Cornett, Lisa ', 10094, 5, 63381, 19, 'MA', '1977-03-31', 'Married', '2015-01-05', None, 18.0, 'Production       ', 'Indeed', 'Fully Meets', 4.73, 5, 0, 6, 'Production Technician I', 'Kelley Spirea', 'F', 'No', 'Yes', 'White', '1977-03-31', '2015-01-05', 0, 8, 0, 3, 0),
 ('Costello, Frank', 10193, 3, 83552, 9, 'MA', '1986-08-26', 'Married', '2015-03-30', None, 4.0, 'IT/IS', 'Indeed', 'Fully Meets', 3.04, 3, 6, 2, 'Data Analyst', 'Simon Roup', 'M ', 'No', 'No', 'White', '1986-08-26', '2015-03-30', 0, 8, 0, 3, 0),
 ('Crimmings,   Jean', 10132, 5, 56149, 19, 'MA', '1987-04-10', 'Single', '2016-07-06', None, 22.0, 'Production       ', 'LinkedIn', 'Fully Meets', 4.12, 5, 0, 15, 'Production Technician I', 'Michael Albert', 'F', 'No', 'No', 'White', '1987-04-10', '2016-07-06', 0, 7, 1, 3, 0),
 ('Cross, Noah', 10083, 3, 92329, 28, 'CT', '1965-09-09', 'Single', '2014-11-10', None, 7.0, 'IT/IS', 'Employee Referral', 'Fully Meets', 5.0, 3, 4, 5, 'Sr. Network Engineer', 'Peter Monroe', 'M ', 'No', 'No', 'White', '1965-09-09', '2014-11-10', 0, 8, 1, 3, 0),
 ('Daneault, Lynn', 10099, 6, 65729, 21, 'VT', '1990-04-19', 'Single', '2014-05-05', None, 15.0, 'Sales', 'Indeed', 'Fully Meets', 4.62, 4, 0, 8, 'Sales Manager', 'Debra Houlihan', 'F', 'No', 'No', 'White', '1990-04-19', '2014-05-05', 0, 9, 1, 3, 0),
 ('Daniele, Ann  ', 10212, 3, 85028, 28, 'CT', '1952-01-18', 'Married', '2014-11-10', None, 7.0, 'IT/IS', 'LinkedIn', 'Fully Meets', 3.1, 5, 8, 19, 'Sr. Network Engineer', 'Peter Monroe', 'F', 'No', 'No', 'White', '1952-01-18', '2014-11-10', 0, 8, 0, 3, 0),
 ("Darson, Jene'ya ", 10056, 5, 57583, 19, 'MA', '1978-11-05', 'Married', '2012-07-02', None, 16.0, 'Production       ', 'Indeed', 'Fully Meets', 5.0, 3, 0, 1, 'Production Technician I', 'Elijiah Gray', 'F', 'No', 'No', 'White', '1978-11-05', '2012-07-02', 0, 11, 0, 3, 0),
 ('Davis, Daniel', 10143, 5, 56294, 20, 'MA', '1979-09-14', 'Single', '2011-11-07', None, 20.0, 'Production       ', 'LinkedIn', 'Fully Meets', 3.96, 4, 0, 6, 'Production Technician II', 'Kissy Sullivan', 'M ', 'No', 'No', 'Two or more races', '1979-09-14', '2011-11-07', 0, 11, 1, 3, 0),
 ('Dee, Randy', 10311, 6, 56991, 19, 'MA', '1988-04-15', 'Married', '2018-07-09', None, 12.0, 'Production       ', 'Indeed', 'Fully Meets', 4.3, 4, 3, 2, 'Production Technician I', 'Brannon Miller', 'M ', 'No', 'No', 'White', '1988-04-15', '2018-07-09', 0, 5, 0, 3, 0),
 ('DeGweck,  James', 10070, 5, 55722, 19, 'MA', '1977-10-31', 'Married', '2011-05-16', '2016-06-08', 39.0, 'Production       ', 'Indeed', 'Fully Meets', 5.0, 4, 0, 14, 'Production Technician I', 'Webster Butler', 'M ', 'No', 'No', 'White', '1977-10-31', '2011-05-16', 1, 5, 0, 3, 0),
 ('Del Bosque, Keyla', 10155, 4, 101199, 24, 'MA', '1979-07-05', 'Single', '2012-01-09', None, 10.0, 'Software Engineering', 'CareerBuilder', 'Fully Meets', 3.79, 5, 5, 8, 'Software Engineer', 'Alex Sweetwater', 'F', 'No', 'No', 'Black or African American', '1979-07-05', '2012-01-09', 0, 11, 1, 3, 0),
 ('Delarge, Alex', 10306, 6, 61568, 3, 'AL', '1975-11-02', 'Single', '2014-09-29', None, 17.0, 'Sales', 'Indeed', 'PIP', 1.93, 3, 0, 5, 'Area Sales Manager', 'John Smith', 'M ', 'No', 'No', 'Two or more races', '1975-11-02', '2014-09-29', 0, 8, 1, 1, 0),
 ('Demita, Carla', 10100, 5, 58275, 20, 'MA', '1951-02-25', 'Separated', '2011-04-04', '2015-11-04', 18.0, 'Production       ', 'Google Search', 'Fully Meets', 4.62, 5, 0, 1, 'Production Technician II', 'Kelley Spirea', 'F', 'No', 'No', 'Black or African American', '1951-02-25', '2011-04-04', 1, 4, None, 3, 0),
 ('Desimone, Carl ', 10310, 5, 53189, 19, 'MA', '1967-04-19', 'Married', '2014-07-07', None, 11.0, 'Production       ', 'Indeed', 'PIP', 1.12, 2, 0, 9, 'Production Technician I', 'Amy Dunn', 'M ', 'No', 'No', 'White', '1967-04-19', '2014-07-07', 0, 9, 0, 1, 0),
 ('DeVito, Tommy', 10197, 3, 96820, 4, 'MA', '1983-09-04', 'Single', '2017-02-15', None, 13.0, 'IT/IS', 'Indeed', 'Fully Meets', 3.01, 5, 7, 15, 'BI Developer', 'Brian Champaigne', 'M ', 'No', 'No', 'White', '1983-09-04', '2017-02-15', 0, 6, 1, 3, 0),

In [36]:
%%sql

CREATE TABLE HR_Datav1 AS

SELECT  
    EmpID,
    PerfScore_ID,
    Salary,
    date_term AS Fired,
    EmpSatisfaction,
    SpecialProjectsCount,
    Absences
FROM hr_dataset;

 * sqlite:///hr_data_databasee.db
Done.

[]

In [37]:
# Query the hr_dataset table using the %sql magic command
result = %sql SELECT * FROM hr_datav1

# Convert the result to a DataFrame
df = result.DataFrame()

# Specify the CSV file path
csv_file_path = 'hr_datav1.csv'

# Export the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False)

 * sqlite:///hr_data_databasee.db
Done.